name: Build Redmi K30 Pro (lmi) (AOSP A16)

on:
  workflow_call:
  workflow_dispatch: # It means your workflow can be triggerd mannually.

jobs:
  build:
    runs-on: ubuntu-latest # eg. ubuntu-latest, windows-latest, macos-latest
    steps:
      - name: Before freeing up disk space
        run: |
          echo "Before freeing up disk space"
          echo "=============================================================================="
          df -hT
          echo "=============================================================================="

      - name: "Optimize Disk Space"
        uses: "hugoalh/disk-space-optimizer-ghaction@v0.8.1"
        with:
          operate_sudo: "True"
          general_include: ".+"
          general_exclude: |-
            ^GCC$
            ^G\+\+$
            Clang
            LLVM
          docker_include: ".+"
          docker_prune: "True"
          docker_clean: "True"
          apt_prune: "True"
          apt_clean: "True"
          homebrew_prune: "True"
          homebrew_clean: "True"
          npm_prune: "True"
          npm_clean: "True"
          os_swap: "True"

      - name: Freeing up disk space
        uses: easimon/maximize-build-space@master
        with: 
          root-reserve-mb: 3072
          swap-size-mb: 1
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Free up disk space complete
        run: |
          echo "Free up disk space complete"
          echo "=============================================================================="
          df -hT
          echo "=============================================================================="
      
      - name: Checkout repository # Some neccesary steps (like clone your repository to the virtue machine) before the build process.
        uses: actions/checkout@v3
        
      - name: Compilation environment preparation
        run: |
          sudo apt update
          sudo apt upgrade
          sudo apt install git ccache automake flex lzop bison gperf build-essential zip curl zlib1g-dev g++-multilib libxml2-utils bzip2 libbz2-dev libbz2-1.0 libghc-bzlib-dev squashfs-tools pngcrush schedtool dpkg-dev make optipng maven libssl-dev pwgen libswitch-perl policycoreutils minicom libxml-sax-base-perl libxml-simple-perl bc libc6-dev-i386 libx11-dev lib32z-dev libgl1-mesa-dev xsltproc unzip device-tree-compiler python3 zstd libc6 binutils libc6-dev-i386 gcc g++ p7zip p7zip-full -y
          
          mkdir -p Kernel && mkdir -p Gcc && mkdir -p Clang
          git clone https://github.com/HenryLogic/kernel_xiaomi_sm8250.git -b aosp-16 Kernel/android_kernel
          wget https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.0/LLVM-19.1.0-Linux-X64.tar.xz
          tar -C Clang/ -xvf LLVM-19.1.0-Linux-X64.tar.xz
          git clone https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9.git -b android12L-release Gcc/gcc-64
          git clone https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9.git -b android12L-release Gcc/gcc-32
          
      - name: Build Process
        run: |
          export PATH=~/Clang/LLVM-19.1.0-Linux-X64/bin:$PATH
          export O=out
          export ARCH=arm64
          export SUBARCH=arm64
          export CROSS_COMPILE=~/Gcc/gcc-64/bin/aarch64-linux-android-
          export CROSS_COMPILE_ARM32=~/Gcc/gcc-32/bin/arm-linux-androideabi-
          export CLANG_TRIPLE=aarch64-linux-gnu-
          cd Kernel/android_kernel
          make CC="ccache clang" NM=llvm-nm OBJDUMP=llvm-objdump STRIP=llvm-strip lmi_defconfig
          make -j$(nproc --all) CC="ccache clang" NM=llvm-nm OBJDUMP=llvm-objdump STRIP=llvm-strip